.footer {
    bottom: -1px;
    position: fixed;
    left: 0;
    right: 0;
    transform: translateZ(0); /* Force hardware acceleration */
    will-change: transform;
}

.footer_tabbar {
    backdrop-filter: blur(10px);
    background: #00000080;

    margin-bottom: -1px;
}
