@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;

    --tg-theme-bg-color: #1C1C1D;
}

.body_dark {
    background: black;
}

.app-root {
    height: 100%;
}

.red {
    color: var(--tgui--destructive_text_color);
}

.blue {
    color: var(--tgui--link_color);
}

.justify-content-center {
    justify-content: center;
}

.margin-0 {
    margin: 0 !important;
}

.margin-bottom-0 {
    margin-bottom: 0 !important;
}

.margin-bottom-0-125 {
    margin-bottom: 0.125rem !important;
}

.margin-top-125 {
    margin-top: 0.125rem !important;
}

.m--12 {
    margin: -3rem !important;
}

.padding-0 {
    padding: 0 !important;
}

.scale-25 {
    scale: 0.25;
}